<html>
    <head>
    <title>Save Animals!</title>
    <meta charset="utf-8">
    <script type='text/javascript' src='static\js\jquery-3.1.1.min.js'></script>
    <script type='text/javascript' src='static/js/script1.js'></script>
    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">
    <style>
        body {
            background-image: url(static/grass.jpg);
            background-size: cover;
        }
    </style>
    </head>
    <body>
        <button type="button" class="btn btn-info">Информация</button>
        <img id="dude"src="static\vombat.png">
        <img id="house"src="static\house.png">

    </body>
</html>
